<div class="wrapper">
  <div class="container">
    <div class="row" style="margin-top:20px">
      <div class="jumbotron vertical-center">
        <div class="row" style="margin-top:20px">
          <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form>
              <fieldset>
                <h2>Please Sign In</h2>
                <hr class="colorgraph">
                <input type="text" name="username" id="username" class="form-control input-lg" placeholder="Username"
                  #user (blur)="getUsername(user.value)">
                <input type="password" name="password" id="password" class="form-control input-lg"
                  placeholder="Password" #pwd (blur)="pass(pwd.value)">
                <hr class="colorgraph">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="button" class="btn btn-lg btn-success btn-block" value="Sign In"
                      (click)="aage(user.value,pwd.value)">
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <a routerLink='register' type="button" class="btn btn-lg btn-primary btn-block"
                      (click)="hideIt()">Register</a>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>


